<!-- Vista de solicitud de restablecimiento de contraseña -->
<h4>Olvidé mi Contraseña</h4>
<form id="forgotPasswordForm" class="row">
  <input type="email" name="email" placeholder="Correo" class="form-control">
  <button type="submit" class="btn btn-primary">Enviar Correo de Restablecimiento</button>
  <!-- Coloca esto al final del cuerpo del archivo HTML -->
<script type="module" src="/js/olvido.contraseña.js"></script>

</form>
<span id="responseForgotPassword"></span>
