<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nombre de tu tienda</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>


<nav>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/auth/login">Iniciar Sesión</a></li>
        <li><a href="/auth/register">Crear Usuario</a></li>
        <a href="/users">Ir al chat</a>
    </ul>
</nav>


<div>
    <h1>Bienvenido a nuestra tienda en línea</h1>
    <p>Explora nuestra amplia selección de productos.</p>
</div>

<footer>
    <p>&copy; 2023 E-Commerce.</p>
</footer>

</body>
</html>
