<h4>Iniciar Sesi칩n</h4>

<form id="loginForm" class="row">
  <input type="email" name="email" placeholder="Correo" class="form-control">
  <input type="password" name="password" placeholder="Contrase침a" class="form-control">

  <button type="submit" class="btn btn-primary">Iniciar Sesi칩n</button>
  
</form>

<span id="responseLogin"></span>
<a href="/auth/github"><button type="submit" class="btn btn-success">Iniciar Sesi칩n github</button></a>
<script type="module" src="/js/login.js"></script>

