<h4>Iniciar Sesión</h4>

<form id="loginForm" class="row">
  <input type="email" name="email" placeholder="Correo" class="form-control">
  <input type="password" name="password" placeholder="Contraseña" class="form-control">

  <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
  <a href="/forgot-password">¿Olvidaste tu Contraseña?</a>
</form>

<span id="responseLogin"></span>
<br>
<a href="/auth/github"><button type="submite" class="btn btn-success">Iniciar Sesión github</button></a>
<script type="module" src="/js/login.js"></script>

