<h4>Registar Usuario</h4>

<form id="registerForm" class="row">
  <input type="text" name="name" placeholder="Nombre" class="form-control">
  <input type="text" name="lastname" placeholder="Apellido" class="form-control">
  <input type="email" name="email" placeholder="Correo" class="form-control">
  <input type="edad" name="age" placeholder="Edad" class="form-control">
  <input type="number" name="number" placeholder="Numero" class="form-control">
  <input type="password" name="password" placeholder="Contraseña" class="form-control">

  <button type="submit" class="btn btn-primary">Crear Usuario</button>
</form>

<span id="responseRegister"></span>

<script src="/js/register.js"></script>