<h4>Restablecer Contrase単a</h4>
<form id="resetPasswordForm" class="row">
  <input type="hidden" name="resetToken" id="resetToken" value="">
  <input type="password" name="newPassword" placeholder="Nueva Contrase単a" class="form-control">
  <button type="submit" class="btn btn-primary">Restablecer Contrase単a</button>
</form>
<span id="responseResetPassword"></span>
<script type="module" src="/js/restaurar.contrase単a.js"></script>