<h2>Chat</h2>
 <link rel="stylesheet" href="/css/styles.css">
<div>
  <p id="messagelogs"></p>
</div>
<div>
  <input id="chatBox">
  <button id="sendButton">Enviar</button>

</div>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/users.js"></script>